/* 
Notes:  - The container width is sized by .text-field.
        - When you change the margin for .text-field, make sure
          to change .song (and possibly .song p)'s margin as well.
        - .container does not have padding because it will affect
          the header width, which won't fully span across. 
*/

/* Main feature card */

.container {
    height: 30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    margin: 10px;
    /* position: absolute; */
}

/* Feature header */

.header {
    border-radius: 10px 10px 0px 0px;
    background-color:blueviolet;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* position: absolute; */
}

/* Song text label */

.song {
    display: flex;
    justify-content: left;
    margin-left: 15px;
    /* position: absolute; */
}

.song p {
    font-size: medium;
    font-weight: bold;
    color: darkslategray;
    margin: 15px 0px 0px 0px;
    /* position: fixed; */
}