.results-list-container {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
}

.results-feature-font {
    font-size: 20px;
}
.results-list-item {
    background-color: #282c34;
    margin: 1vh;
    /* display: flex; */
}

.results-total-bar {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: white;
}

.results-bar {
    position: absolute;
    height: 25px;
    background-color: white;
}
