/* Main feature card */

.list-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    height: 33vh;
    overflow: auto;
    z-index: 1;
}

/* Search result item */

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px 30px 7px 10px;
    border-bottom: 1px solid lightgray;
}

.item-container:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Item labels */

.song-name {
    text-align: left;
    font-size: 75%;
}

.artist {
    text-align: left;
    font-size: 50%;
    color: lightgray;
}
